@{
    ViewData["Title"] = "Something Went Wrong";
}

<div class="text-danger fw-bolder text-center">
    <h1>Something Went Wrong</h1>
    <h3>Possible reasons:</h3>
    <h3>URL is not correct</h3>
</div>


